
[Paths]

PathConstrainteFile: fasta_constraints
PathConstrainteFileShape: fasta_Shape
PathSequenceFasta: fasta_files
FastaExtension: fa
OutputLogfile: Logfile.txt
Psdotpath: dot_plot
Matrixproba: Probability/
rnafile:5domainof16SrRNAEcoli.fa
Extension: fa
PickledData: PickledData
Varna_path:

[Probing]
sampling: false
constraints: NMIA,CMCT
SHAPEVis:didy1M7Shape.txt
numberofsruct:1000
Temperature: 37
m: 1.3
b: -0.4
StructFile: merged_file_samples
cutoffBasePairs : 0.7


[Clustering]
DIANA: F
MiniBatchKMean: true
maxDiameterThreshold: 7
maxAverageDiameterThreshold: 7

[Pareto]
percent:20
CutoffZcondition:0.05
